# Social Network Segmentation Analysis

In this exercise, we will try to identify different groups of teenagers based on their personal preferences using an unsupervised learning model.  
  
Start by importing your libraries, loading the dataset and exploring its variables.  
What features do you find? Do they have the correct datatypes?

In [7]:
#Import your libraries here

import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import preprocessing
import matplotlib.pyplot as plt
import math
from sklearn.cluster import KMeans
import scipy.cluster.hierarchy as sch
import hdbscan
from matplotlib.pyplot import figure

In [8]:
#Load the dataset and explore its variables

data=pd.read_csv('snsdata.csv')
data.head()

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,2006,M,18.982,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2006,F,18.801,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2006,M,18.335,69,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2006,F,18.875,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,NaN,18.995,10,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1

In [9]:
data.columns

Index(['gradyear', 'gender', 'age', 'friends', 'basketball', 'football',
       'soccer', 'softball', 'volleyball', 'swimming', 'cheerleading',
       'baseball', 'tennis', 'sports', 'cute', 'sex', 'sexy', 'hot', 'kissed',
       'dance', 'band', 'marching', 'music', 'rock', 'god', 'church', 'jesus',
       'bible', 'hair', 'dress', 'blonde', 'mall', 'shopping', 'clothes',
       'hollister', 'abercrombie', 'die', 'death', 'drunk', 'drugs'],
      dtype='object')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gradyear      30000 non-null  int64
 1   gender        27276 non-null  object
 2   age           24914 non-null  float64
 3   friends       30000 non-null  int64
 4   basketball    30000 non-null  int64
 5   football      30000 non-null  int64
 6   soccer        30000 non-null  int64
 7   softball      30000 non-null  int64
 8   volleyball    30000 non-null  int64
 9   swimming      30000 non-null  int64
 10  cheerleading  30000 non-null  int64
 11  baseball      30000 non-null  int64
 12  tennis        30000 non-null  int64
 13  sports        30000 non-null  int64
 14  cute          30000 non-null  int64
 15  sex           30000 non-null  int64
 16  sexy          30000 non-null  int64
 17  hot           30000 non-null  int64
 18  kissed        30000 non-null  int64
 19  dance         30000 non-null  int64
 20  band          30000 non-null  int64
 21  marching      30000 non-null  int64
 22  music         30000 non-null  int64
 23  rock          30000 non-null  int64
 24  god           30000 non-null  int64
 25  church        30000 non-null  int64
 26  jesus         30000 non-null  int64
 27  bible         30000 non-null  int64
 28  hair          30000 non-null  int64
 29  dress         30000 non-null  int64
 30  blonde        30000 non-null  int64
 31  mall          30000 non-null  int64
 32  shopping      30000 non-null  int64
 33  clothes       30000 non-null  int64
 34  hollister     30000 non-null  int64
 35  abercrombie   30000 non-null  int64
 36  die           30000 non-null  int64
 37  death         30000 non-null  int64
 38  drunk         30000 non-null  int64
 39  drugs         30000 non-null  int64
dtypes: float64(1), int64(38), object(1)
memory usage: 9.2+ MB

In [11]:
data.isnull().sum()

gradyear           0
gender          2724
age             5086
friends            0
basketball         0
football           0
soccer             0
softball           0
volleyball         0
swimming           0
cheerleading       0
baseball           0
tennis             0
sports             0
cute               0
sex                0
sexy               0
hot                0
kissed             0
dance              0
band               0
marching           0
music              0
rock               0
god                0
church             0
jesus              0
bible              0
hair               0
dress              0
blonde             0
mall               0
shopping           0
clothes            0
hollister          0
abercrombie        0
die                0
death              0
drunk              0
drugs              0
dtype: int64

In [12]:
data.describe()

,gradyear,age,friends,basketball,football,soccer,softball,volleyball,swimming,cheerleading,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
count,30000.000000,24914.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.00000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,2007.500000,17.993950,30.179467,0.267333,0.252300,0.222767,0.161200,0.143133,0.13440,0.106633,...,0.098933,0.257367,0.353000,0.14850,0.069867,0.051167,0.184100,0.114233,0.087967,0.060433
std,1.118053,7.858054,36.530877,0.804708,0.705357,0.917226,0.739707,0.639943,0.51699,0.514333,...,1.942319,0.695758,0.724391,0.47264,0.346779,0.279555,0.624516,0.436796,0.399125,0.345522
min,2006.000000,3.086000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2006.750000,16.312000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2007.500000,17.287000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2008.250000,18.259000,44.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2009.000000,106.927000,830.000000,24.000000,15.000000,27.000000,17.000000,14.000000,31.00000,9.000000,...,327.000000,12.000000,11.000000,8.00000,9.000000,8.000000,22.000000,14.000000,8.000000,16.000000

## 1. Data Wrangling

If you found in the last step that there are variables that need to be dealt with before we can start our analysis, please do it. Comment your code and take us through the steps of your thinking.  

Consider the some of these aspects:  
* Wrong data types
* Null values
* Consistency in categorical data

In [13]:
#Your code here:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gradyear      30000 non-null  int64
 1   gender        27276 non-null  object
 2   age           24914 non-null  float64
 3   friends       30000 non-null  int64
 4   basketball    30000 non-null  int64
 5   football      30000 non-null  int64
 6   soccer        30000 non-null  int64
 7   softball      30000 non-null  int64
 8   volleyball    30000 non-null  int64
 9   swimming      30000 non-null  int64
 10  cheerleading  30000 non-null  int64
 11  baseball      30000 non-null  int64
 12  tennis        30000 non-null  int64
 13  sports        30000 non-null  int64
 14  cute          30000 non-null  int64
 15  sex           30000 non-null  int64
 16  sexy          30000 non-null  int64
 17  hot           30000 non-null  int64
 18  kissed        30000 non-null  int64
 19  dance         30000 non-null  int64
 20  band          30000 non-null  int64
 21  marching      30000 non-null  int64
 22  music         30000 non-null  int64
 23  rock          30000 non-null  int64
 24  god           30000 non-null  int64
 25  church        30000 non-null  int64
 26  jesus         30000 non-null  int64
 27  bible         30000 non-null  int64
 28  hair          30000 non-null  int64
 29  dress         30000 non-null  int64
 30  blonde        30000 non-null  int64
 31  mall          30000 non-null  int64
 32  shopping      30000 non-null  int64
 33  clothes       30000 non-null  int64
 34  hollister     30000 non-null  int64
 35  abercrombie   30000 non-null  int64
 36  die           30000 non-null  int64
 37  death         30000 non-null  int64
 38  drunk         30000 non-null  int64
 39  drugs         30000 non-null  int64
dtypes: float64(1), int64(38), object(1)
memory usage: 9.2+ MB

In [14]:
data.isnull().mean().sort_values(ascending = False)

age             0.169533
gender          0.090800
blonde          0.000000
music           0.000000
rock            0.000000
god             0.000000
church          0.000000
jesus           0.000000
bible           0.000000
hair            0.000000
dress           0.000000
gradyear        0.000000
marching        0.000000
shopping        0.000000
clothes         0.000000
hollister       0.000000
abercrombie     0.000000
die             0.000000
death           0.000000
drunk           0.000000
mall            0.000000
band            0.000000
dance           0.000000
kissed          0.000000
friends         0.000000
basketball      0.000000
football        0.000000
soccer          0.000000
softball        0.000000
volleyball      0.000000
swimming        0.000000
cheerleading    0.000000
baseball        0.000000
tennis          0.000000
sports          0.000000
cute            0.000000
sex             0.000000
sexy            0.000000
hot             0.000000
drugs           0.000000
dtype: float64

In [15]:
def fill_age(x):
    if x == None:
        if df['gradyear'] == 2006:
            return df[df['gradyear']==2006]['age'].mean()
        elif df['gradyear'] == 2007:
            return df[df['gradyear']==2007]['age'].mean()
        elif df['gradyear'] == 2008:
            return df[df['gradyear']==2008]['age'].mean()
        elif df['gradyear'] == 2009:
            return df[df['gradyear']==2009]['age'].mean()
    else:
        return x

In [16]:
data['age'] = data['age'].fillna(data['age'].mean())
data['age'] = data['age'].apply(lambda x: math.floor(x))

In [17]:
data['gender'].fillna(value = 'F', inplace = True)

## 2. Data Visualization

Now that the data is more or less fixed, plot some charts to understand better how it is composed:  
* Check distribution of variables - do we have outliers? What should we do with them?
* Understand which features are correlated - do they represent the same? Which ones should we keep?
* When we compare two variables, is it possible to see groups in the data?
* Given the dimension of the dataset, would it be useful to perform dimension reduction in some variables? Which ones would you group?

Comment your ideas based on the visualizations you made and other data exploration. What will be your next steps before modeling?

In [4]:
#Your code here:

## 3. Feature Engineering

Based on your previous conclusions, perform transformations in your features. Think about:  
* Category Encoding
* Outliers & Standardization
* Dimension Reduction
* Discard features that are less relevant to group the data

Why did you choose each method? Please explain your rationale.

In [5]:
#Your code here:

## 4. Modeling

Now that your data is ready, apply one (or more) unsupervised learning model to find the groups of teens that exist:
* What model did you choose?
* What is the optimal number of clusters?
* Once your clusters are defined, how do you interpret them? - What type of teens there are? What are the differences between them?

In [ ]:
#Your code here: